* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*!COLORS*/
  --bg : #fff;
  --bg-dark: #221a1a;
  --txt: #000;
  --txt-dark: #fff;
  --hover-lk: #DB7D4A;

  /*!RADIUS*/
  --radius: 1.2em;
}

body.light {
  background-color: var(--bg);
  color: var(--txt);
}

body.dark {
  background-color: var(--bg-dark);
  color: var(--txt-dark);
}

body.dark > .icons {
  color: var(--txt-dark) !important;
}

.app {
  max-width: 100%;
  height: 100%;
}



